.deal{
    background: url(https://assets.website-files.com/6233f2ac51d2013d6dca2856/623a741eedaf0d4909e57ac1_Bg-hero.svg) #000000;
    padding: 140px 0; 
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        text-align: center;
        color: #FFFFFF;
        transition: all .2s ease-in;
    }
    &__choise{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        padding: 30px;
        transition: all .2s ease-in;
        .switch{
            display: flex;
            align-items: center;
            transition: all .2s ease-in;
            &__month,&__year{
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                user-select: none;
                transition: all .2s ease-in;
                opacity: 0.5;
            }
            &__month{
                opacity: 1;
            }
            &__toggle{
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s ease-in;
            }
            &__ellipse{
                margin: 0 24px;
                width: 105px;
                height: 52px;
                border-radius: 99px;
                background: #FFFFFF;
                position: relative;
                transition: all .2s ease-in;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: 8px;
                    width: 36px;
                    height: 36px;
                    background-color: #A8FF35;
                    border-radius: 50%;
                    transition: all .3s ease-in;
                }
            }
        }
        &__input{
            appearance: none;
            &:checked~.switch>.switch__toggle>.switch__ellipse::before{
                left: 62px;
            }
            &:checked~.switch>.switch__year{
                opacity: 1;
            }
            &:checked~.switch>.switch__month{
                opacity: 0.5;
            }
        }
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .2s ease-in;
        .card{
            width: 360px;
            height: 640px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 32px;
            background: #FAFAFA;
            border-radius: 16px;
            padding: 35px;
            transition: all .2s ease-in;
            &:hover{
                transform: translate(0px, -5px);
                box-shadow: 0px 3px 1px 1px #545454;
            }
            &__title{
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 100%;
                color: #000000;
                transition: all .2s ease-in;
            }
            &__desc{
                margin-top: 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #000000;
                transition: all .2s ease-in;
            }
            &__line{
                width: 100%;
                height: 0;
    
                display: flex;
                justify-content: center;
                align-self: center;
                opacity: 0.2;
                border: 1px solid #000000;
                background: #000000;
                transition: all .2s ease-in;
            }
            &__month{
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #000000;
                transition: all .2s ease-in;
            }
            &__price{
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                color: #000000;
                transition: all .2s ease-in;
            }
            &__items{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 30px;

                list-style: none;
                transition: all .2s ease-in;
                
            }
            &__item{
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #000000;
                margin-left: 20px;
                position: relative;
                transition: all .2s ease-in;
                &::after{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: -18px;
                    content: "";
                    width: 14px;
                    height: 9px;
                    background: url(../img/svg.svg) no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: all .2s ease-in;
                }
            }
            &__btn{
                width: 100%;
                height: 58px;
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #A8FF35;
                border-radius: 29px;
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                text-align: center;
                color: #000000;
                transition: all .2s ease-in;
                &:hover{
                    opacity: 1;
                    background: #000000;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media only screen and (max-width:1270px) {
    .deal{
            // padding: 140px 0; 
            // font-size: 64px;
            // line-height: 76px;
        &__choise{
            // justify-content: center;
            // width: 100%;
            // height: 70px;
            // margin: 30px 30px;
            
        }
        &__cards{
            // justify-content: space-between;
            // align-items: center;
            .card{
                width: 300px;
                height: 550px;
                // flex-direction: column;
                // justify-content: flex-start;
                gap: 25px;
                padding: 30px;
    
                &__title{
                    font-size: 30px;
                }
                &__desc{
                    // margin-top: 10px;
                    font-size: 15px;
                }
                &__month{
                    font-size: 15px;
                }
                &__price{
                    font-size: 60px;
                }
                &__items{
                    // flex-direction: column;
                    // align-items: flex-start;
                    // justify-content: space-between;
                    gap: 20px;
                    
                }
                &__item{
                    font-size: 15px;
                    margin-left: 20px;
                    // &::after{
                    //     left: -18px;
                    //     width: 14px;
                    //     height: 9px;
                    // }
                }
                &__btn{
                    height: 52px;
                    font-size: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width:1024px) {
    .deal{
        &__title{
            font-size: 40px;
            line-height: 40px;
        }
            // padding: 140px 0; 
            // font-size: 64px;
            // line-height: 76px;
        &__choise{
            // justify-content: center;
            // width: 100%;
            // height: 70px;
            // margin: 30px 30px;
            &__input{
                appearance: none;
                &:checked~.switch>.switch__toggle>.switch__ellipse::before{
                    left: 45px;
                }
            }
            .switch{
                &__month{
                    opacity: 0.5;
                }
                &__month,&__year{
                    font-size: 15px;
                    line-height: 20px;
                }
                &__toggle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__ellipse{
                    margin: 0 24px;
                    width: 80px;
                    height: 40px;
                    &::before{
                        left: 8px;
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
        &__cards{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
        }
    }
}
@media only screen and (max-width:375px) {
    .deal{
        &__title{
            font-size: 30px;
        }
        &__choise{
            .switch{
                &__month{
                    opacity: 0.5;
                }
                &__month,&__year{
                    font-size: 15px;
                    line-height: 20px;
                }
                &__toggle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__ellipse{
                    margin: 0 24px;
                    width: 80px;
                    height: 40px;
                    &::before{
                        left: 8px;
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
        &__cards{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            .card{
                width: 250px;
                height: 470px;
                // flex-direction: column;
                // justify-content: flex-start;
                gap: 15px;
                padding: 20px;
                &__title{
                    font-size: 22px;
                }
                &__desc{
                    margin-top: 5px;
                    font-size: 10px;
                }
                &__month{
                    font-size: 10px;
                }
                &__price{
                    font-size: 50px;
                }
                &__items{
                    // flex-direction: column;
                    // align-items: flex-start;
                    // justify-content: space-between;
                    gap: 20px;
                    
                }
                &__item{
                    font-size: 15px;
                    margin-left: 20px;
                    // &::after{
                    //     left: -18px;
                    //     width: 14px;
                    //     height: 9px;
                    // }
                }
                &__btn{
                    height: 52px;
                    font-size: 15px;
                }
            }
        }
    }
}